<!-- GLOBALS -->
    <!-- CURRENT DATE -->
  <% let CURRENT_DATE_TIME = new Date().getFullYear(); %>
        <div class="bottomBar">
            <footer>
                Copyright Saucermen Web Design 
                <%- CURRENT_DATE_TIME %>
            </footer>
        </div>

    </div>
</html>