        <div class="bottomBar">
            <footer>
                Copyright Saucermen Web Design 
                <%- new Date().getFullYear(); %>
            </footer>
        </div>

    </div>
</html>