
        <div class="navigation">
            <nav>
                <p><img src="/images/inventIcon.png" alt="inVent icon"/> inVent</p>
                <ul> 
                    <li>
                        <a href="/items">Home</a>
                    </li>
                    <li>
                        <a href="items/new">Add Item</a>
                    </li>
                    <li>
                        <a href="/users/new">Add User</a>
                    </li>
                    <li>
                        <a href="users/logout">Logout</a>
                    </li>
                </ul>
            </nav>
        </div>