
        <div class="navigation">
            <nav>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="items/new">Add New Item</a>
                    </li>
                    <li>
                        <a href="/users/new">Signup</a>
                    </li>
                    <li>
                        <a href="users/logout">Logout</a>
                    </li>
                </ul>
            </nav>
        </div>