/* VARIABLES */
:root {
	--darker-orange: #AC390F;
    --dark-orange: #EB541D;
	--bright-orange: #F18963;
	--light-orange: #f5ac91;
	--bright-green: #A0BE73;
	--light-green: #c6d8ab;
	--pastel-purple: #B67D9A;
	--deep-purple: #400080;
	--black-grey-gradient: linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
	--black-grey-gradient-chrome: -webkit-linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
	--black-grey-gradient-moz: -moz-linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
}

/* GLOBAL */
*,
*::before,
*::after,
	body {
		margin: 0px;
		padding: 0px;
		box-sizing: border-box;
	}
	
	body {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
    	background: var(--black-grey-gradient-chrome); 
		background: var(--black-grey-gradient-moz); 
		background: var(--black-grey-gradient);
		background-repeat: round;
    	color: var(--dark-orange);
	}
	
	.titleBar {
		display: flex;
		position: relative;
		justify-self: flex-end;
		background-color: #390FAC;
		width: 100vw;
		height: 5vh;
		justify-content: center;
		align-content: center;
	}

	.bottomBar {
		display: flex;
		justify-content: center;
		background-color: var(--dark-orange);
		bottom: 0;
		position: fixed;
		width: 100vw;
		color: var(--deep-purple);
		align-content: center;
		height: 4vh;
	}

	.navigation {
		height: 100vh;
		position: sticky;
		z-index: 1; /* Stay on top */
		top: 0; /* Stay at the top */
		left: 0;
		background-color: #390FAC;
		width: 10vw;
		display: flex;
		flex-wrap: wrap;
		text-align: center;
	}

	nav a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 25px;
		color: var(--darker-orange);
		display: flex;
		transition: 1s; 
		justify-content: center; 
		justify-self: center;
		position: sticky;
		flex-wrap: wrap;
	}

	nav a:hover {
		color: #f1f1f1;
	}

	.mainContainer {
		position: fixed;
		display: flex;
		flex-flow: column;
		background: var(--black-grey-gradient-chrome); 
		background: var(--black-grey-gradient-moz); 
		background: var(--black-grey-gradient);
		background-repeat: round;
	}

/* ITEMS INDEX */

	thead {
		background-color: silver;
		display: flex;
		flex-wrap: wrap;
		justify-self: center;
	}

	.itemDisp {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		background-image: var(--black-grey-gradient);
		background-image: var(--black-grey-gradient-chrome);
		background-image: var(--black-grey-gradient-moz);
		height: 100vh;
		width: 100vw;
	}

/* ITEMS ADD */

#addItemForm {
	position: relative;
	display: flex;
	justify-content: center;
	background-image: var(--black-grey-gradient);
	background-image: var(--black-grey-gradient-chrome);
	background-image: var(--black-grey-gradient-moz);
	height: 100vh;
	width: 100vw;
	overflow: auto;
}

/* ITEMS SHOW */

	.showList {
		position: relative;
		display: flex;
		justify-content: center;
		align-content: center;
		background: var(--black-grey-gradient-chrome); 
		background: var(--black-grey-gradient-moz); 
		background: var(--black-grey-gradient);
		background-position: center;
		border-radius: 10px;
		padding: 50px;
		margin: 11px;
		overflow: auto;
		width: 95%;
		height: 95%;
		color: var(--light-orange);
		list-style: none;
	}


/* USER REGISTRATION VIEW */

    /* CONTAINERS */
	.regContainer {
		width: 90vw;
		height: 80vh;
		margin: 20px auto;
		display: flex;
		border-radius: 10px;
		box-shadow: 1px 1px 10px silver,
					-1px -1px 10px silver,
					1px -1px 10px silver,
					-1px 1px 10px silver;
		display: flex;
		background: var(--deep-purple);
		justify-content: center;
	  }
	
	  .registration {
		display: flex;
		justify-content: center;
		background: var(--black-grey-gradient-chrome); 
		background: var(--black-grey-gradient-moz); 
		background: var(--black-grey-gradient);
		background-position: center;
		border-radius: 10px;
		padding: 10px;
		margin: 10px;
		overflow: auto;
		width: 95%;
		height: 95%;
		color: var(--light-orange);
	  }
	
	  .registration form {
		  display: flex;
		  flex-direction: column;
		  justify-content: space-evenly;
		  text-align: center;
	  }
	
	  #regHeading {
		  position: fixed;
		  top: 0;
	  }
	  
	  #regHeading h1 {
		font-family: fantasy;
		font-weight: 500;
		color: var(--bright-orange);
		border-bottom: 2px solid var(--bright-green);
		font-size: 35px;
	  }