/* VARIABLES */
:root {
    --dark-orange: #EB541D;
	--bright-orange: #F18963;
	--light-orange: #f5ac91;
	--bright-green: #A0BE73;
	--light-green: #c6d8ab;
	--pastel-purple: #B67D9A;
	--deep-purple: #400080;
}

/* GENERAL */
body {
    background: black;
    font-family: helvetica;
  }
  
  /* CONTAINERS */
  .regContainer {
    width: 90vw;
    height: 80vh;
    margin: 50px auto;
    display: flex;
    border-radius: 10px;
    box-shadow: 1px 1px 10px silver,
                -1px -1px 10px silver,
                1px -1px 10px silver,
                -1px 1px 10px silver;
    display: flex;
    background: var(--dark-orange);
    justify-content: center;
  }

  .registration {
    display: flex;
    justify-content: center;
    background: -webkit-linear-gradient(360deg, #1C1C1C 10%, #494949 360%); 
    background: -moz-linear-gradient(360deg, #1C1C1C 10%, #494949 360%); 
    background: linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
    background-position: center;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    overflow: auto;
    width: 95%;
    height: 95%;
    color: var(--light-orange);
  }

  .registration form {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      text-align: center;
  }

  #regHeading {
      position: fixed;
      top: 0;
  }
  
  /* ETC. DECORATION */
  h1 {
    font-family: 'Oswald';
    font-weight: 500;
    color: var(--bright-orange);
    border-bottom: 2px solid var(--bright-green);
    font-size: 35px;
  }
  
  footer {
	display: flex;
	justify-content: center;
    justify-self: center;
	background-color: var(--dark-orange);
	bottom: 0;
	position: fixed;
	width: 100vw;
}
