<%- include('../../views/partials/header') %>
    <div class="regContainer">
      <div class="regHeading">
        <h1>New Item</h1>
      </div>
      <div class="registration">
        <form action="/items" method="POST">
          Name: <input type="text" name="name"%>"/><br/>
          Type: <input type="text" name="type"%>"/><br/>
          Desc.: <input type="text" name="description"%>"/><br/>
          Count: <input type="number" name="count"%>"/><br/>
          Listing: <input type="text" name="listing"%>"/><br/>
          <input type="hidden" name="dateAdded" id="dateAdded" />
          <p>Is for sale? :
            <input 
              type="checkbox" 
              name="forSale"
            /><br/>
          </p>
          <input type="submit" name="" value="Submit Changes"/>
        </form>
      </div>
    </div>
<%- include('../../views/partials/footer') %>