<%- include('../../views/partials/header') %>

  <h1>New Item page</h1>
  <form action="/items" method="POST">
    Name: <input type="text" name="name" /><br />
    Type: <input type="text" name="type" /><br />
    For Sale? : <input type="checkbox" name="forSale" /><br />
    <input type="submit" name="" value="Create Item" />
  </form>

<%- include('../../views/partials/footer') %>