<%- include('../../views/partials/header') %>

  <h1>Items show page</h1>
  The <%= i.name; %> is <%= i.type; %>.
  <% if(i.forSale === true){ %>
  It is for sale
  <% } else { %>
  It is not for sale
  <% } %>

<%- include('../../views/partials/footer') %>