<%- include('../../views/partials/header') %>    

        <div class="regContainer">
            <div class="regHeading">
                <h1>inVent Login</h1>
            </div>
            <div class="registration">
                <form name="registration-form" action="/users/login" onsubmit="return validateForm()" method="POST">
                    <input type="hidden" name="csrf_token" value="token-generated-here" />
                    Username: <input type="text" name="username" required /><br />
                    Password: <input type="password" name="password" required /><br />
                    <input type="submit" value="Login" />
                </form>
            </div>
            <div>
                <form action="/users/new" method="GET">
                    <input type="submit" value="Register"/>
                </form>
            </div>
        </div>

<%- include('../../views/partials/footer') %>