<%- include('../../views/partials/header') %>
        
    <h1>Signup</h1>
    <form action="/users/signup" method="POST">
        E-mail: <input type="text" name="email" /><br />
        Username: <input type="text" name="username" /><br />
        Password: <input type="password" name="password" /><br />
        <input type="submit" value="Signup" />
    </form>

<%- include('../../views/partials/footer') %>